<?xml version="1.0"?>
<log4net>
  
<root>
  <level value="All" />
  <appender-ref ref="FileAppender" />
</root>

<appender name="FileAppender" type="log4net.Appender.RollingFileAppender" >
  <file value="c:\logs\SkateOne.log" />
  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  <encoding value="utf-8" />
  <appendToFile value="true" />
  <rollingStyle value="Date" />
  <maximumFileSize value="5MB" />
  <layout type="log4net.Layout.PatternLayout">
    <conversionPattern value=" %date %-5level %logger %message%newline" />
  </layout>
</appender>
    
  <!--<appender name="UmbracoDbAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="server=172.17.195.125;database=mitel_umbraco;User ID=mitel_user;password=q6DQVBTb6B*P" />
    <commandText value="INSERT INTO [mitel_umbraco].[dbo].[DevPortalLog] ([Date], [Message]) VALUES (@log_date, @message)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
  </appender>-->
</log4net>
