@{
    ViewBag.Title = "Index";
}

<h1 class="title">Skater</h1>

<div id="skate" align="center">

    <div id="home" class="app scale2 app-hide">
        <button class=" button" style="position: absolute; margin: auto; top: 0px; bottom: 0px; left: 0px; right: 0px;" v-on:click="startClick">
            Start
        </button>
        <p style="color: #999999">{{message}}</p>
    </div>

    <div id="skateView" class="app scale2 app-hide">
        <button class="button" style="position: absolute; margin: auto; top: 30px; left: 0px; right: 0px;" v-on:click="goHomeClick">Home</button>
        <input name="userName" style="position: absolute; top: 80px; left: 50%; width: 400px; margin-left: -225px" />
        <div id="grid1Div" style="width:920px;height:320px;overflow:auto;background-color:#DEDEDE; top: 150px; left: 50%; margin-left: -460px; position:absolute"></div>
    </div>

    <div id="login" class="app">
        <div class="app-center" style="width: 500px; height: 400px;" align="center">
            <h2>Login</h2>
            <form>
                <fieldset>
                    <label>Username</label>
                    <input name="username" style="width: 200px" />
                </fieldset>
                <fieldset>
                    <label>Password</label>
                    <input name="password" style="width: 200px" type="password" />
                </fieldset>
            </form>
            <button class=" button" v-on:click="loginStartClick()">Login</button>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/App/app.gridNess.js"></script>
    <script type="text/javascript" src="~/Scripts/App/Skate.js"></script>
</div>
