@{
    ViewBag.Title = "Index";
}

<h1 class="title">Simple DataGrid</h1>
<div id="grid1Div" style="width:920px;height:320px;overflow:auto;background-color:#DEDEDE;"></div>
<div id="learnDiv" style="width:700px;padding-bottom:50px">
    <script type="text/javascript" src="~/Scripts/App/app.gridNess.js"></script>
    <script type="text/javascript" src="~/Scripts/App/app.main.js"></script>
</div>
